# node modules and build
node_modules/
dist/
out/
*.log

# editor settings
.vscode/

# public generated content
public/build/

# project folders not to commit
scripts/
src/renderer/lib/

# electron cache
*.asar

# system files
.DS_Store
Thumbs.db

# mods folder
Mods/

# temp files
*.tmp